/* Lightbox styles */
#aggGallery {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    opacity: 0;
}

#aggGallery-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aggGallery-image {
    max-width: 90%;
    max-height: 90vh;
    margin: auto;
    display: block;
    object-fit: contain;
}

#aggGallery-close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10000;
}

#aggGallery-prev, 
#aggGallery-next {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 60px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10000;
}

#aggGallery-prev {
    left: 30px;
}

#aggGallery-next {
    right: 30px;
}

/* Gallery styles */
.wp-block-gallery.agg-animated .wp-block-image {
    opacity: 1;
}
/* Add transition for smooth animation */
.wp-block-gallery.agg-animated .wp-block-image {
    transition: opacity 1.5s ease;
}
.wp-block-gallery.agg-lightbox .wp-block-image {
    cursor: pointer;
}

